body {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow-y: hidden;
    /* overflow-x: hidden; */
    background-color: #222831;
    font-family: sans-serif;
}

#left {
    /* border: 1px solid blue; */
    display: flex;
    flex: 1 0 20%;
    max-height: 100vh;
    flex-direction: column;
    
    /* flex-wrap: wrap; */
}



#down {
    /* border: 1px solid black; */
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    /* height: 10%; */
}

#interaction {
    padding-left: 1em;
    padding-right: 1em;
    border: 1px solid #273a4d;
    width: 90%;
    border-radius: 1em;
    height: 40vh;
    overflow-y: scroll;
    box-shadow: 0px 0px 0.1em black;
    text-align: center;
}

#interaction::-webkit-scrollbar {
    width: 0.5em;
}

#stockpile {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    /* flex-grow: 1; */
    max-height: 50vh;
    overflow-y: scroll;
}

#stockpile::-webkit-scrollbar {
    width: 0.5em;
}

#stockpile h3 {
    border-bottom: 1px solid #273a4d;
}

#stockpile p {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #273a4d;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
}

#attributes {
    display: flex;
    text-align: center;
    width: 70%;

    /* border: 1px solid black; */
    /* flex-grow: ; */
}

#Primary {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

#Primary h3 {
    border-bottom: 1px solid #273a4d;
}

#Secondary {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

#Secondary h3 {
    border-bottom: 1px solid #273a4d;
}

#closeCraftingScreenButton {
    border: 1px solid #f2a365;
    background-color: #30475e;
    width: 10%;
    color: #dbdbdb;
    margin: 1em;
}

#right {
    display: flex;
    flex: 1 0 60%;
    flex-direction: column-reverse;
    /* align-content: flex-end; */
    /* border: 1px solid red; */
    overflow-x: hidden;
    border-left: 1px solid #273a4d;
}
#right-down {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
}

#skills {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    /* flex-direction: column; */
    /* max-height: 100vh; */
    overflow-y: scroll;
    /* justify-content: flex-end; */
}

#attributeSkillDivWapper {
    width: 100%;
    display: flex;
    justify-items: flex-start;
}

.attributeSkillDiv {
    outline: none;
    text-align: center;
    height: 3em;
    background-color: #30475e;
    border: 1px solid #1f2e3c;
    /* display: flex; */
    flex: 1;
    margin-bottom: 1em;
}


.attributeSkillDiv:hover {
    border: 1px solid #30475e;
}
.activeAttributeWrapper {
    /* border: 1px solid green !important; */
    background-color: #1f2e3c;
}

#skills::-webkit-scrollbar {
    width: 0.5em;
}

#uniqueSkills {
    /* border: 1px solid black; */
    /* width: 100%; */
    /* display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: flex-end; */
}

.uniqueSkill {
    /* border: 1px solid #273a4d;
    border-radius: 0.2em;  */
    /* padding: 0.5em;
    /* background-color: #03dac6 !important; */
}

.skillDiv {
    /* min-height: 100%; */
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    /* border: 1px solid black; */
    /* width: 20%; */
}

#skillHeader {
    width: 100%;
    text-align: center;
    height: 2em;
    border-bottom: 1px solid #273a4d;
}

.focus {
    border-color: #f2a365 !important;
}

.focusElement {
    width: 100%;
    background-color: #222831;
    color: #f2a365
}

.focusElement:disabled {
    background-color: gray;
}

.unFocusElement {
    width: 100%;
    background-color: #f2a365;
    color: #222831;
}


.skill {
    margin-top: 0.3em;
    outline: none;
    display: flex;
    user-select: none;
    background-color: #30475e;
    border: 1px solid #1f2e3c;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    flex-grow: 2;
    width: 100%;
    color: #ececec; 
}
.skill:hover {
    background-color: #1f2e3c;
    border: 1px solid #30475e;
    border-radius: 0.2em;   
}
.skill:active {
    background-color: #30475e;
    border: 1px solid #1f2e3c;
    border-radius: 0.2em;
}

.skill span {
    padding-top: 0.3em;
}

.progressBar {
    background-color: #379634;
    width: 0%;
    height: 0.5em;
}

#interactiveSkill {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 2;
    align-self: center;
    align-items: center;
}

#interactiveHeader {
    text-align: center;
}

#interaction button {
    background-color: #30475e;
    color: #ececec;
}

span {
    color: #dbdbdb;
}

h3, h4, p {
    color: #f2a365;
    margin: 0;
    padding: 0;
}



/* ============================ */

.Leaves {
    color: #83a95c;
}

.Silk {
    color: #e6e6e6;
}

.Thread {
    color: #e8e8e8;
}

.Wood {
    color: #c5a880;
}

.Pole {
    color: #cdb492;
}

.Clay {
    color: #663922;
}

.Stone {
    color: #898b8a;
}

.Fireplace {
    color: #db6400;
}

.RainwaterBarrell {
    color: #0e49b5;
}

