body {
    display: flex;
    flex-wrap: wrap;
    /* overflow-x: hidden; */
}

#left {
    /* border: 1px solid blue; */
    display: flex;
    flex: 1 0 40%;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#down {
    border: 1px solid black;
    width: 100%;
    /* height: 10%; */
}

#stockpile {
    display: flex;
    /* border: 1px solid black; */
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    /* flex-grow: 1; */
}

.column {
    display: flex;
    flex-direction: column;
}

#attributes {
    display: flex;
    text-align: center;
    width: 70%;

    /* border: 1px solid black; */
    /* flex-grow: ; */
}

#Primary {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

#Secondary {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

#right {
    display: flex;
    flex: 1 0 60%;
    flex-direction: column;
    /* border: 1px solid red; */
    overflow-x: hidden;
}

#skills {
    /* border: 1px solid black; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* justify-content: flex-end; */
}

#uniqueSkills {
    /* border: 1px solid black; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* justify-content: flex-end; */
}

.skillDiv {
    min-height: 100%;
    /* max-width: 100%; */
    /* border: 1px solid black; */
    /* width: 20%; */
}

#skillHeader {
    text-align: center;
    border-bottom: 1px solid black;
}

#uniqueSkillHeader {
    text-align: center;
    border-bottom: 1px solid black;
}


.focus {
    border-color: red;
}

.focusElement {
    width: 100%;
}

.focusElement:disabled {
    background-color: gray;
}

.unFocusElement {
    width: 100%;
}


.skill {
    outline: none;
    display: flex;
    width: 100%;
}

#interactiveSkill {
    /* border: 1px solid black; */
    display: flex;
    /* height: 50%; */
}