body {
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
    background-color: #222831;
}

#left {
    /* border: 1px solid blue; */
    display: flex;
    flex: 1 0 40%;
    max-height: 100vh;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

#down {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    /* height: 10%; */
}

#interaction {
    padding: 2em;
    border: 1px solid #273a4d;
    border-radius: 2em;
    max-height: 30vh;
    overflow-y: scroll;
}

#interaction::-webkit-scrollbar {
    width: 0.5em;   
}

#stockpile {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    /* flex-grow: 1; */
    max-height: 50vh;
    /* overflow-y: scroll; */
}

#stockpile h3 {
    border-bottom: 1px solid #273a4d;
}

#stockpile p {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #273a4d;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

#attributes {
    display: flex;
    text-align: center;
    width: 70%;

    /* border: 1px solid black; */
    /* flex-grow: ; */
}

#Primary {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

#Primary h3 {
    border-bottom: 1px solid #273a4d;
}

#Secondary {
    /* border: 1px solid black; */
    display: flex;
    flex: 1 0 50%;
    flex-direction: column;
}

#Secondary h3 {
    border-bottom: 1px solid #273a4d;
}

#right {
    display: flex;
    flex: 1 0 59%;
    flex-direction: column;
    /* border: 1px solid red; */
    overflow-x: hidden;
    border-right: 1px solid #273a4d;
}

#skills {
    /* border: 1px solid black; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* justify-content: flex-end; */
}

#uniqueSkills {
    /* border: 1px solid black; */
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    /* justify-content: flex-end; */
}

.uniqueSkill {
    padding: 0.5em;
    border: 1px solid black;
    border-radius: 0.2em;
    /* background-color: #03dac6 !important; */
}

.skillDiv {
    min-height: 100%;
    /* max-width: 100%; */
    /* border: 1px solid black; */
    /* width: 20%; */
}

#skillHeader {
    text-align: center;
    border-bottom: 1px solid #273a4d;
}

#uniqueSkillHeader {
    text-align: center;
    border-bottom: 1px solid #273a4d;
}


.focus {
    border-color: #f2a365;
}

.focusElement {
    width: 100%;
    background-color: #222831;
    color: #f2a365
}

.focusElement:disabled {
    background-color: gray;
}

.unFocusElement {
    width: 100%;
    background-color: #f2a365;
    color: #222831;
}


.skill {
    outline: none;
    display: flex;
    background-color: #30475e;
    flex-grow: 2;
    color: #ececec; 
}

#interactiveSkill {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#interaction button {
    background-color: #30475e;
    color: #ececec;
}

span {
    color: #dbdbdb;
}

h3, h4, p {
    color: #f2a365;
}